.rubric {
    margin-top: 0px;
}

.rubric > .class-h2 {
    font-size: 160%;
    display: block;
    margin: 0;
    border: 0;
    font-family: "Lucida Grande",Arial,sans-serif;
    background-color: white;
    font-weight: normal;
    color: #1a1a1a;
}

dl {
    margin-top: 50px;
}

div.body h2 {
    margin-top: 30px;
}